@model Student

@{
    ViewBag.Title = "Edit Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Assignments</h2>

@if (Model.Assignments != null)
{
    Html.RenderPartial("_AssignmentsTable", Model.Assignments);
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>